button {
  height: 2.75rem;
  min-height: 2.75rem;
  border: none;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

button.au-button-icon,
button.au-button-emoji {
  width: 2.75rem;
  min-width: 2.75rem;
  border-radius: 100%;
}

button.au-button-emoji span {
  font-size: 1.4rem;
}

button.au-button-text {
  padding: 0 1rem;
  color: var(--color-on-secondary);
  background-color: var(--color-secondary);
}

button:hover {
  box-shadow: inset 0 0 1.25rem 1.25rem var(--hover);
}
