@import url("typography.css");
@import url("monet.css");

@import url("components/header.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/card.css");
@import url("components/form.css");
@import url("components/footer.css");
@import url("components/widget.css");

:root {
  -webkit-user-select: none;
  user-select: none;
}

html {
  height: 100%;
}

.hidden {
  display: none;
}
