div.au-card {
  overflow: hidden;
  height: min-content;
  margin: 0.5rem 0.25rem;
  padding: 0.75rem 1.25rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-surface-e3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  gap: 0.5rem;
}

div.au-card div.au-main-card {
  margin-right: auto;
}

div.au-card div.au-main-card * {
  margin: 0.25rem 0;
  display: block;
}

body.light div.au-card button {
  color: var(--color-on-tertiary);
  background-color: var(--color-tertiary);
}

body.dark div.au-card button {
  color: var(--color-on-tertiary-container);
  background-color: var(--color-tertiary-container);
}
