div.au-card {
  position: absolute !important;
  width: min-content;
  margin: .25rem;
  border: 2px solid var(--on-surface-color);
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: var(--surface-color);
}

div.au-card div.au-drag-card {
  width: 100%;
  height: 1rem;
  cursor: move;
  border-bottom: 2px solid black;
}

div.au-card div.au-main-card {
  display: flex;
  padding: 0.75rem 1.5rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
