main {
  position: absolute;
  bottom: 10rem;
  left: 10rem;
  width: calc(100% - 15rem);
  height: calc(100% - 14rem);
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
}

main > div {
  padding-bottom: 10rem;
}

@media screen and (max-width: 600px) {
  main {
    top: 5rem;
    bottom: unset;
    left: 0;
    width: calc(100% - 4rem);
    height: calc(100% - 18rem);
    padding: 0 2rem;
  }

  main > div {
    padding-bottom: 14rem;
  }
}

main h4 {
  color: var(--color-on-tertiary-container);
}

main > div#main > h4 {
  margin: 1rem;
  text-align: end;
}
