footer {
  display: flex;
  position: fixed;
  height: 3rem;
  padding: 0 1rem 0 0.75rem;
  color: var(--color-on-tertiary);
  align-items: center;
  justify-content: center;
  bottom: 1rem;
  right: 1rem;
  border-radius: 1rem;
  background-color: var(--color-tertiary);
}

footer > button > span {
  color: var(--color-on-tertiary);
}
