header {
  display: flex;
  width: calc(100% - 2rem);
  height: 10rem;
  padding: 0.25rem 2.25rem 0.25rem 0.5rem;
  z-index: -1;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  gap: 1rem;
  background-color: inherit;
}

header > section {
  display: flex;
}

header > section.au-header-leading > img {
  height: 6rem;
  padding: 1.5rem;
}

header > section.au-header-leading:not(.au-drop-header) {
  transform: scale(1);
  transition-duration: 0.25s;
}

header > section.au-drop-header {
  animation: dropShadow 1s infinite 0.5s;
  box-shadow: inset 0 0 3rem 3rem var(--aura-color), 0 0 0.75rem 0.75rem var(--aura-color);
  transform: scale(0.85);
  border-radius: 100%;
  transition-duration: 0.25s;
}

@keyframes dropShadow {
  0% {
    box-shadow: inset 0 0 3rem 3rem var(--aura-color), 0 0 0.75rem 0.75rem var(--aura-color);
  }
  50% {
    box-shadow: inset 0 0 3rem 3rem var(--aura-color), 0 0 1rem 1rem var(--aura-color);
  }
  100% {
    box-shadow: inset 0 0 3rem 3rem var(--aura-color), 0 0 0.75rem 0.75rem var(--aura-color);
  }
}

header > section.au-header-trailing {
  justify-content: end;
  flex-direction: column;
}

header > section.au-header-leading:not(.ui-droppable) + section.au-header-trailing {
  padding-right: 0.5rem;
}

header > section.au-header-trailing > span {
  text-align: end;
}

header > section.au-header-trailing > span.au-text-xxl {
  height: 4.5rem;
}
