header {
  display: flex;
  position: fixed;
  width: 8rem;
  height: calc(100% - 12rem);
  padding: 1.5rem;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  background-color: var(--color-background);
  left: 0;
  top: 0;
}

header section.au-header-leading img {
  height: 6rem;
  padding: 1.5rem;
}

header section.au-header-trailing {
  color: var(--color-on-secondary-container);
  padding-left: 0.5rem;
  margin-right: auto;
  margin-top: auto;
}

@media screen and (max-width: 600px) {
  header {
    width: calc(100% - 3rem);
    height: min-content;
    padding: 1.5rem;
    justify-content: flex-end;
    flex-direction: row;
  }

  header section.au-header-leading {
    display: none;
  }

  header section.au-header-trailing span {
    line-height: 1.5rem;
    font-size: 1.25rem;
    font-weight: 500;
  }

  header section.au-header-trailing span.au-text-l::after {
    content: " points";
  }
}
