input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--color-outline);
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: block;
  color: var(--color-on-background);
  background-color: var(--color-surface);
  text-overflow: ellipsis;
}

textarea {
  resize: none;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
  border-color: var(--color-secondary);
  box-shadow: 0 0 0.2rem var(--color-secondary);
  outline: none;
}

select[multiple] {
  height: auto;
  overflow: hidden;
}
