header {
  position: fixed;
  top: 0;
  left: 0;
  width: 7.5rem;
  height: calc(100% - 12rem);
  padding: 2rem 0.5rem 0 2rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: var(--color-background);
  z-index: 1;
  gap: 1rem;
}

header section.au-header-leading img {
  height: 6rem;
}

header section.au-header-trailing {
  margin-top: auto;
  margin-right: auto;
  /* padding-left: 0.5rem; */
  color: var(--color-on-tertiary-container);
}

@media screen and (max-width: 600px) {
  header {
    width: calc(100% - 4rem);
    height: min-content;
    padding: 1.5rem 2rem;
    flex-direction: row;
    justify-content: flex-end;
  }

  header section.au-header-leading {
    display: none;
  }

  header section.au-header-trailing span {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
  }

  header section.au-header-trailing span.au-text-l::after {
    content: " points";
  }
}
