footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 4rem);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: var(--color-background);
}

footer span.au-text-display {
  color: var(--color-on-tertiary-container);
  cursor: pointer;
}

footer span.au-text-display:hover {
  text-decoration: underline;
  color: var(--color-on-secondary-container);
  text-underline-offset: 0.5rem;
}

div#au-footer-actions {
  padding: 0.125rem 0.75rem;
  border-radius: 1rem;
  display: flex;
  white-space: nowrap;
}

div#au-footer-actions button {
  display: inline-flex;
}

@media screen and (max-width: 600px) {
  footer {
    padding-top: 1.5rem;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }

  div#au-footer-actions {
    padding: 0.25rem 0.75rem;
  }

  div#au-footer-actions button {
    margin: 0 0.25rem;
  }
}

body.light #au-footer-actions,
body.light #au-footer-actions button {
  background-color: var(--color-secondary);
}

body.light #au-footer-actions button span {
  color: var(--color-on-secondary);
}

body.dark #au-footer-actions,
body.dark #au-footer-actions button {
  background-color: var(--color-secondary-container);
}

body.dark #au-footer-actions button span {
  color: var(--color-on-secondary-container);
}
